repos:
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.8
        args: ['--quiet', '--config=.black']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: flake8
        additional_dependencies: [
          'flake8-bugbear==19.8.0',  # Looks for likely bugs and design problems
          'flake8-comprehensions==3.0.1',  # Looks for unnecessary generator functions that can be converted to list comprehensions
          'flake8-deprecated==1.3',  # Looks for method deprecations
          'flake8-use-fstring==1.0',  # Enforces use of f-strings over .format and %s
          'flake8-print==3.1.4',  # Checks for print statements
          'flake8-docstrings==1.5.0',  # Verifies that all functions/methods have docstrings
          'flake8-type-annotations==0.1.0',  # Looks for misconfigured type annotations
          'flake8-annotations==1.1.1',  # Enforces type annotation
          'flake8-logging-format==0.6.0',  # Enforces log formatting to be correct
        ]
        args: ['--enable-extensions=G']
  - repo: local
    hooks:
      - id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(CHANGELOG.rst|README.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
